<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=yes, maximum-scale=1.0, minimum-scale=1.0">
	<title>MK</title>
	<link rel="stylesheet" type="text/css" media="all" href="style.css"
	<script src="js/jquery1.4.4.min.js"></script>
	<script src="js/script.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>

	<header id="header" role="banner">
		<div class="inner">
			<div class="logo">
				<h2>MK</h2>
			</div>
			<nav id="mainNav">
				<div class="inner">
					<a class="menu" id="menu"><span>MENU</span></a>
					<div class="panel">
						<ul id="topnav">
							<li class="current-menu-item"><a href="index.html"><strong>トップページ</strong><br /></a></li>
							<li><a href="sample.html"><strong>パスワード変更</strong><br /></a></li>
							<li><a href="sample.html"><strong>logout</strong><br /></a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>

	<div id="wrapper">
    <div class="logo">
		<h2>MYページトップ</h2>
	</div>
		<section class="gridWrapper">
			<article class="grid">
				<div class="box">
					<h3>受験報告一覧表</h3>
                    <a href="appli/new" class="btn btn-warning btn-lg btn-block"><h2>一覧を表示</h2></a>
					<a href="#" class="btn btn-warning btn-lg btn-block"><h2>新規作成</h2></a>
				</div>
			</article>
			<article class="grid">
				<div class="box">
					<h3>受験報告書検索</h3>
                    <a href="#" class="btn btn-warning btn-lg btn-block"><h2>受験報告書を検索</h2></a>
				</div>
			</article>
			<article class="grid">
				<div class="box">
					<h3>就職活動申請書一覧</h3>
                    <a href="#" class="btn btn-warning btn-lg btn-block"><h2>一覧を表示</h2></a>
					<a href="#" class="btn btn-warning btn-lg btn-block"><h2>新規作成</h2></a>
				</div>
			</article>
		</section>
	</div>
</body>
</html>