	<div id="wrapper">
    <div class="logo">
		<h2>MYページトップ</h2>
	</div>
		<section class="gridWrapper">
			<article class="grid">
				<div class="box">
					<h3>受験報告一覧表</h3>
                    <a href="appli/new" class="btn btn-warning btn-lg btn-block"><h2>一覧を表示</h2></a>
					<a href="#" class="btn btn-warning btn-lg btn-block"><h2>新規作成</h2></a>
				</div>
			</article>
			<article class="grid">
				<div class="box">
					<h3>受験報告書検索</h3>
                    <a href="#" class="btn btn-warning btn-lg btn-block"><h2>受験報告書を検索</h2></a>
				</div>
			</article>
			<article class="grid">
				<div class="box">
					<h3>就職活動申請書一覧</h3>
                    <a href="#" class="btn btn-warning btn-lg btn-block"><h2>一覧を表示</h2></a>
					<a href="#" class="btn btn-warning btn-lg btn-block"><h2>新規作成</h2></a>
				</div>
			</article>
		</section>
	</div>