<form class="login">
  
  <fieldset>
    
  	<legend class="legend">新規登録</legend>
    <div class="new">学科クラス<br>
    	<select name="pull-down">
        <option value="R1A1">R1A1</option>
        <option value="R1A2">R1A2</option>
        <option value="R2A1">R2A1</option>
        <option value="R2A2">R2A2</option>
        <option value="R3A1">R3A1</option>
        <option value="R3A2">R3A2</option>
        <option value="R4A1">R4A1</option>
        <option value="R4A2">R4A2</option>
        <option value="S1A1">S1A1</option>
        <option value="S1A2">S1A2</option>
        <option value="S2A1">S2A1</option>
        <option value="S2A2">S2A2</option>
        <option value="S3A1">S3A1</option>
        <option value="S3A2">S3A2</option>
        <option value="G1A1">G1A1</option>
        <option value="G1A2">G1A2</option>
        <option value="G2A1">G2A1</option>
        <option value="G2A2">G2A2</option>
        <option value="G3A1">G3A1</option>
        <option value="G3A2">G3A2</option>
        <option value="J1A1">J1A1</option>
        <option value="J1A2">J1A2</option>
        <option value="J2A1">J2A1</option>
        <option value="J2A2">J2A2</option>
        <option value="M1A1">M1A1</option>
        <option value="M1A2">M1A2</option>
        <option value="M2A1">M2A1</option>
        <option value="M2A2">M2A2</option>
        <option value="B1A1">B1A1</option>
        <option value="B1A2">B1A2</option>
        <option value="B2A1">B2A1</option>
        <option value="B2A2">B2A2</option>
        </select>
    </div>
    
    <div class="new">氏名<br>
    	<input type="text" required />
    </div>
    <div class="new">Password<br>
    	<input type="text" required />
    </div>
    
    <button type="submit" class="submit"><i class="fa fa-long-arrow-right"></i></button>
  </fieldset>
  
  <div class="feedback">
  	login successful <br />
    redirecting...
  </div>
  
</form>